<%= form_for( [@wine, @log]) do |f| %>
	<%= render 'shared/validation_errors', object: @log %>

	<%= f.label :name %>
	<%= f.text_field :name, autofocus: true, placeholder: 'Name' %>
	<br />
	<%= f.label :rating %>
	<% Log::RATINGS.each do |rating| %>
		<%= f.radio_button :rating, rating %> <%= rating %>
		<% end %><br />
		<%= f.label :location %>
		<%= f.text_field :location %><br />
		<%= f.label :tasted_on %>
 		<span class="date">
      	<%= f.date_select :tasted_on , :order => [:month, :day, :year] %>
		</span>
		<%= f.label :comments %><br />
		<%= f.text_area :comments %><br />
		<p>
			<%= f.submit %>
			<%= link_to 'Cancel', wine_logs_path(@wine), id: 'cancel log' %>
		</p>
	<% end %>

